.caja1{
    margin: 10px;
    /* border: 1px solid; */
    /* background-color: coral; */
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 215px;
    height: 140px;
    
  }
  .caja2{
    margin: 10px;
    /* border: 1px solid; */
    /* background-color: coral; */
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 215px;
    height: 140px;

  }
  .caja3{
    margin: 10px;
    /* border: 1px solid; */
    /* background-color: coral; */
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 215px;
    height: 140px;
  }
  .caja4{
    margin: 10px;
    /* border: 1px solid; */
    /* background-color: coral; */
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 215px;
    height: 140px;
  }
  .caja5{
    margin: 10px;
    /* border: 1px solid; */
    /* background-color: coral; */
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 215px;
    height: 140px;
  }
  
  .caja6{
    margin: 10px;
    /* border: 1px solid; 
    background-color: coral; */
    color: rgb(3, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 215px;
    height: 140px;
  }

  .c1{
    /* background-color: #110218;
    opacity: .5; */
    display:flex; 
    justify-content:center;
    align-items:center ;
    height: 100px;
    width: 150;
    margin-top: 10px;
  }

  .c2{
    border-radius: 10px;
    display:flex; 
    justify-content:center;
    align-items:center ;
    /* border: 5px solid rgb(159, 81, 175); */
    border: 5px solid #123142;
    height: 90px;
    width: 150;
    margin-top: 10px;
  }
  .c3{
    
    border-radius: 10px;
    display:flex; 
    justify-content:center;
    align-items:center ;
    border: 5px solid #123142;
    height: 110px;
    width: 140;
    margin-top: 10px;

  }

  .c4{
    border-radius: 10px;
    display:flex; 
    justify-content:center;
    align-items:center ;
    margin-top: 10px;

  }
  .c6{
    /* background-color: #110218;
    opacity: .5; */
    display:flex; 
    justify-content:center;
    align-items:center ;
    height: 100px;
    width: 150;
    margin-top: 10px;

  }

  .fleetsimg{
    width: 100px;
    height: 110px;
  }
  .title{
    margin: 5px;
    text-align: left;
  }

  .cardimage{
    height: 90px;
    width: 190px;
  }

  .caja4, h2{
    margin-left: 10px;

  }

  .c5_content{
    justify-content:left;
  }

  